.header_dropdown-menu-left {
    left: -280px !important;
}
.header_dropdown-header-text-left {
    font-size: 14px;
    font-weight: 700;
}
.header_dropdown-header-text-right {
    color: var(--palette-blue-60);
    font-size: 12px;
    cursor: pointer;
}
.header_dropdown-content {
    overflow-y: auto;
    max-height: 560px;
    cursor: pointer;
    .header_dropdown-content-first-row {
        font-size: 14px;
        font-weight: 700;
    }
    .header_dropdown-content-second-row {
        font-size: 12px;
        font-weight: 400;
    }
}
